@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "reset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: Ubuntu, sans-serif;
  background-color: #f5f5f5;
}

body:has(.modal-content) {
  overflow-y: hidden;
}

/*simple fade transition*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.18s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/*accordion transition*/
.accordion-enter-active,
.accordion-leave-active {
  transition: opacity 0.24s ease;
}

.accordion-enter-from,
.accordion-leave-to {
  opacity: 0;
}

/*left modals transition*/
.slide-fade-left-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-left-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-left-enter-from,
.slide-fade-left-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}
/*right modals transition*/
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

/*page transition*/
.page-fade-enter-active {
  transition: opacity 0.24s ease;
}

.page-fade-enter-from {
  opacity: 0;
}

@layer components {

  .horizontal-scroll-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: -20px;
    width: 20px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    pointer-events: none;
    z-index: 1;
  }

  .more-button-blur::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 90px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    pointer-events: none;
    z-index: 1;
  }

  .checkbox {
    display: none;
  }

  .checkbox__label:before {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #adadad;
    width: 18px;
    height: 18px;
    content: '';
    display: inline-block;
    vertical-align: middle;
  }

  .checkbox:focus + .checkbox__label:before:focus {
    background-color: #be0d2f;
  }

  .checkbox:disabled + .checkbox__label:before {
    border-color: #e3e3e3;
    background-color: #f2f2f2;
  }

  .checkbox:disabled:checked + .checkbox__label:before {
    background-color: #ef6c85;
    border-color: #ef6c85;
  }

  .checkbox:disabled:checked + .checkbox__label:hover:before {
    background-color: #ef6c85;
    border-color: #ef6c85;
  }

  .checkbox__label:hover:before {
    border: 1px solid #adadad;
    background: #f2f2f2;
  }

  .checkbox:checked + .checkbox__label::before {
    border-color: #e40a33;
  }

  .checkbox:checked + .checkbox__label:hover::before {
    background-color: #d80d33;
  }

  .contenteditable-title {
    @apply focus:outline-none focus:border focus:pl-2 focus:rounded-[8px] max-w-[320px];
  }

  .contenteditable-name {
    @apply p-1 focus:outline-none border border-transparent focus:border-gray-200 focus:rounded-[8px] max-w-[600px];
  }

  .checkbox__label-checklist {
    height: 18px;
  }

  .checkbox__label-checklist::before {
    margin-right: 0 !important;
    vertical-align: baseline;
  }

  /* border decoration styles */

  .border-decor__items {
    @apply hidden sm:block
  }

  .border-decor__line {
    --line-length: calc(100% - 2 * (20px + 20px));
    --padding: 20px;
    --border-radius: 20px;
    --line-width: 1px;

    position: absolute;
    margin-bottom: 10px;
    background-color: #E4D49A47;
  }
  .border-decor__corner {
    position: absolute;
    margin-bottom: 10px;
    width: calc(2 * 20px);
    height: calc(2 * 20px);
    border-radius: 50%;
    border: 1px solid transparent;
    border-top: 1px solid #E4D49A47;
    transform-origin: center;
  }
  .border-decor__line:nth-child(1) {
    top: var(--padding);
    left: calc(var(--padding) + var(--border-radius));
    width: var(--line-length);
    height: var(--line-width);
  }
  .border-decor__line:nth-child(2) {
    top: calc(var(--padding) + var(--border-radius));
    right: var(--padding);
    width: var(--line-width);
    height: calc(var(--line-length) - 10px);
  }
  .border-decor__line:nth-child(3) {
    bottom: var(--padding);
    left: calc(var(--padding) + var(--border-radius));
    width: var(--line-length);
    height: var(--line-width);
  }
  .border-decor__line:nth-child(4) {
    top: calc(var(--padding) + var(--border-radius));
    left: var(--padding);
    width: var(--line-width);
    height: calc(var(--line-length) - 10px);
  }
  .border-decor__corner:nth-child(1) {
    transform: rotateZ(135deg);
    top: 0;
    left: 0;
  }
  .border-decor__corner:nth-child(2) {
    transform: rotateZ(225deg);
    top: 0;
    right: 0;
  }
  .border-decor__corner:nth-child(3) {
    transform: rotateZ(315deg);
    bottom: 0;
    right: 0;
  }
  .border-decor__corner:nth-child(4) {
    transform: rotateZ(45deg);
    bottom: 0;
    left: 0;
  }
  .border-decor--with-circles .border-decor__corner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .border-decor--with-circles .border-decor__corner::before {
    content: '';
    display: block;
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid #E4D49A;
  }

  .border-decor--with-circles .border-decor__line {
    background-color: #E4D49A;
  }

  .border-decor--with-circles .border-decor__corner {
    border-top: 1px solid #E4D49A;
  }
}
